html {
    font-size: 10px;
    font-family:
        "Anaheim", sans-serif;
    background-color: azure;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black
}

img[src="images/th.png"] {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 30px 0;
    text-shadow: 3px 3px 1px rgb(167, 167, 167);
    font-size: 60px;
    text-align: center;
    color: rgb(37, 20, 84);
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    font-size: 16px;
    text-align: center;
    margin: 0;
}